body {
  margin: 0;
  font-family: Verdana, sans-serif;
  color: #333;
  background-color:#eeece9;
}

header {
  height: 50vh;
  background: url(./../img/background.jpg) center / cover;
}

h1 {
  font-size: calc(14px + 7vw);
  color: #fff;
  width: 100%;
  margin: 0;
  text-align: center;
  line-height: 50vh;
}

main {
  width: 800px;
  padding: 30px 30px 30px 30px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  max-width: 800px;
  padding: 0 20px;
  margin: 40px auto 40px;
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.profile {
  margin: 0 auto 50px;
  padding: 40px 10px 40px;
  background-color: #fff;
}

.reason {
  margin: 0 auto 50px;
  padding: 40px 10px 40px;
  background-color: #fff;
}

.skill {
  margin: 0 auto 50px;
  padding: 40px 10px 40px;
  background-color: #fff;
}

.product {
  margin: 0 auto 50px;
  padding: 40px 10px 40px;
  background-color: #fff;
}

.contact {
  margin: 0 auto 50px;
  padding: 40px 10px 40px;
  background-color: #fff;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 16px;
  text-align: left;
  margin: 0;
}

footer p{
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: gray;
}
